:host,
:root {
  --bpwc-theme-primary-bleu: #213E7F;
  --bpwc-theme-primary-sea: #5082BE;
  --bpwc-theme-primary-sky: #E1EBF5;
  --bpwc-theme-primary-blanc: #FFFFFF;
  --bpwc-theme-primary-noir-100: #000000;
  --bpwc-theme-primary-noir-60: #4C4C4C;
  --bpwc-theme-primary-noir-40: #7F7F7F;
  --bpwc-theme-primary-noir-20: #A5A5A5;
  --bpwc-theme-primary-noir-10: #EDEDED;
  --bpwc-theme-primary-fresh-berry: #B02A87;

  --bpwc-theme-secondary-light-bleu: #0097D9;
  --bpwc-theme-secondary-turquosie: #009BB0;
  --bpwc-theme-secondary-orange: #EC6601;
  --bpwc-theme-secondary-raspberry: #EC628B;

  --bpwc-theme-signal-error: #DD0018;
  --bpwc-theme-signal-warning: #FFD631;
  --bpwc-theme-signal-succes: #339C3A;

  --bpwc-theme-primary-bleu-rgb: 33, 62, 127;
  --bpwc-theme-primary-sea-rgb: 80, 130, 190;
  --bpwc-theme-primary-sky-rgb: 225, 235, 245;
  --bpwc-theme-primary-blanc-rgb: 255, 255, 255;
  --bpwc-theme-primary-noir-100-rgb: 0, 0, 0;
  --bpwc-theme-primary-noir-60-rgb: 76, 76, 76;
  --bpwc-theme-primary-noir-40-rgb: 127, 127, 127;
  --bpwc-theme-primary-noir-20-rgb: 165, 165, 165;
  --bpwc-theme-primary-noir-10-rgb: 237, 237, 237;
  --bpwc-theme-primary-fresh-berry-rgb: 176, 42, 135;

  --bpwc-theme-secondary-light-bleu-rgb: 0, 151, 217;
  --bpwc-theme-secondary-turquosie-rgb: 0, 155, 176;
  --bpwc-theme-secondary-orange-rgb: 236, 102, 1;
  --bpwc-theme-secondary-raspberry-rgb: 236, 98, 139;

  --bpwc-theme-signal-error-rgb: 221, 0, 24;
  --bpwc-theme-signal-warning-rgb: 255, 214, 49;
  --bpwc-theme-signal-succes-rgb: 51, 156, 58;

}
