.stroke {
    border-width: 1px;
    border-style: solid;
}

.stroke-primary-sea {
    border-color: var(--bpwc-primary-sea);
}

.stroke-primary-noir-20 {
    border-color: var(--bpwc-primary-noir-20);
}

.stroke-primary-noir-10 {
    border-color: var(--bpwc-primary-noir-10);
}

.stroke-signal-error {
    border-color: var(--bpwc-signal-error);
}

.stroke-signal-warning {
    border-color: var(--bpwc-signal-warning);
}

.stroke-signal-success {
    border-color: var(--bpwc-signal-success);
}